---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import Navbar from '@components/Navbar.astro';
import Perfil from '@components/Initial.astro';
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
---

<Layout title="Andres Alfonso.">
	<header class="fixed flex items-center justify-center w-full mx-auto mt-2">
		<Navbar />
	</header>
	<main>
		<section class="perfil py-16 md:py-40 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
			<Perfil />
		</section>
		<div class="space-y-24">
			<section id="experiencia" data-section="experiencia" class="section scroll-m-20 experience w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
				<Experience />
			</section>
			<section id="proyectos" data-section="proyectos" class="section scroll-m-20 experience w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
				<Projects />
			</section>
		</div>
		
	</main>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	} */
</style>
