---
import Job from '@components/icons/Job.astro';
---


<div class="p-8">
    <h2 class="flex items-center text-3xl font-semibold text-gray-200 gap-x-3"> <Job/> Experiencia Laboral</h2>
    <ol class="relative mt-16">
        <li>
            <div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/30 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
                <div class="relative pb-12 md:col-span-2">
                    <div class="sticky">
                        <span class="text-red-500 -left-[42px] absolute rounded-full text-5xl"></span>
                        <h3 class="text-xl font-bold text-red-400">Desarrollador de Software Jr</h3>
                        <h4 class="font-semibold text-xl text-gray-200 ">Windows Channel</h4>
                        <time class="p-0 m-0 text-sm text-gray-300/80 ">Actualmente...</time>
                    </div>

                </div>
                <div class="relative flex flex-col gap-2 pb-4 text-gray-200 md:col-span-3">
                    Desarrollar y mantener aplicaciones web utilizando JavaScript, HTML y CSS...
                    Colaboración con desarrolladores senior...
                    Asistí en la depuración y optimización del código...
                    Participé en revisiones de código...
                    Implementé optimizaciones y mejoras en aplicaciones web de la empresa.
                </div>
            </div>
        </li>
        <li>
            <div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/30 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
                <div class="relative pb-12 md:col-span-2">
                    <div class="sticky">
                        <span class="text-red-500 -left-[42px] absolute rounded-full text-5xl"></span>
                        <h3 class="text-xl font-bold text-red-400">Practicante Analista de Datos</h3>
                        <h4 class="font-semibold text-xl text-gray-200 ">Enel Colombia</h4>
                        <time class="p-0 m-0 text-sm text-gray-300/80 ">Agosto 2023 - Enero 2024</time>
                    </div>

                </div>
                <div class="relative flex flex-col gap-2 pb-4 text-gray-200 md:col-span-3">
                    Apoyé el desarrollo y mantenimiento de aplicaciones de escritorio y automatizaciones para reportes en el área de Recursos Humanos, utilizando Python y Visual Basic, mejorando la eficiencia en procesos clave de análisis y generación de reportes.
                </div>
            </div>
        </li>
    </ol>
</div>